/* font */

@font-face {
  font-family: myfont;
  src: url('../fonts/IRANSans.ttf') format("truetype");
}

@font-face {
  font-family: mynumberfont;
  src: url('../fonts/IRANSans\(FaNum\).ttf') format("truetype");
}

body {
  font-family: myfont!important;
  overflow-x: hidden;
}

/*Start header styling */

.header {
  width: 100%;
  height: auto;
  background-color: #fff;
  box-shadow: rgb(0 0 0 / 10%) 1px 0 7px 0;
  line-height: 65px;
}

/*End header styling */

/* Start menu styling  */

.sidenav {
  z-index: 999;
  height: 100%;
  width: 0;
  position: fixed;
  top: 0;
  right: 0;
  background-color: #fbfbfc;
  overflow-x: hidden;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 14px;
  color: #6f7285;
  display: block;
  transition: 0.3s;
  font-weight: 500;
  line-height: 2.2;
  white-space: nowrap;
  padding: .5em 2em;
}

.sidenav a:not(:nth-child(1)):hover {
  color: #6f7285;
  background-color: #f5f5f9;
}

.sidenav .closebtn {
  position: absolute;
  top: 2px;
  right: -22px;
  font-size: 20px;
}

.paraside {
  padding-top: 20px;
  color: #df0f50;
  font-size: 14px;
  font-weight: bolder;
}

.spanside {
  font-size: 20px;
  cursor: pointer;
  color: #6f7285;
}

.hrside {
  color: #f5f5f9;
  content: '';
  position: absolute;
  left: 1em;
  right: 1em;
}

.fa-i {
  margin-left: 1em;
  color: #6f7285;
}

.moreshow {
  display: none!important;
}

/* End menu styling  */

/* start live styling  */

.paralive {
  font-family: mynumberfont;
  font-size: 13px;
}

.fa-tv {
  font-size: 10px;
}

.linklive {
  border-radius: 20px;
  line-height: 2.6em;
  padding: 0 1em;
  cursor: pointer;
}

.linklive:hover {
  background-color: #f5f5f9;
}

/* End live styling  */

/* Start search box  */

.searchbar {
  height: 44px;
  border-radius: 30px;
  max-width: 600px;
  /* width: 538px; */
  border-color: transparent;
  background-color: #f5f5f9;
  margin-top: 1%;
}

.searchbar:hover {
  box-shadow: 0 2px 7px 0 rgb(0 0 0 / 10%);
  background-color: #fff;
}

.search_input {
  color: black;
  border: 0;
  outline: 0;
  background: none;
  caret-color: black;
  /* padding: 0 10px; */
  width: 600px;
  text-align: right;
  font-size: 11px;
  position: absolute;
  right: 5px;
  top: -10px;
}

.search_icon {
  height: 40px;
  width: 40px;
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: black;
  top: -6px;
}

.fa-search {
  position: absolute;
  top: 22px;
  color: #8c8d94;
  font-size: 15px;
}

/* End search box  */

/* Start login and register icon Styling  */

.spanupload {
  font-size: 12px;
  color: #05a3e8;
}

.fa-plus {
  font-size: 10px;
  color: #05a3e8;
}

.linkupload {
  text-decoration: none!important;
  border-radius: 50px;
  border: 1px solid #05a3e8;
  justify-content: center;
  vertical-align: middle;
  font-weight: 300;
  line-height: 2.6em;
  white-space: nowrap;
  padding: .3em 1em;
}

.linkuploadsmall {
  text-decoration: none!important;
  border-radius: 100px;
  border: 1px solid #05a3e8;
  justify-content: center;
  vertical-align: middle;
  font-weight: 300;
  line-height: 2.6em;
  white-space: nowrap;
  padding: 0 .5em;
}

.linkupload:hover {
  background-color: #f5f5f9;
}

.spanloginregister {
  font-size: 12px;
  color: #6f7285;
}

.fa-user {
  font-size: 10px;
  color: #6f7285;
}

.loginregister {
  text-decoration: none!important;
  border-radius: 50px;
  justify-content: center;
  vertical-align: middle;
  font-weight: 300;
  line-height: 2.6em;
  white-space: nowrap;
  padding: .4em 1em;
}

.loginregister:hover {
  background-color: #f5f5f9;
}

.linkloginsmall {
  text-decoration: none!important;
  border-radius: 100px;
  border: 1px solid #f5f5f9;
  background-color: #f5f5f9;
  justify-content: center;
  vertical-align: middle;
  font-weight: 300;
  line-height: 2.6em;
  white-space: nowrap;
  padding: 0 .5em;
}

/* End login and register icon Styling */

/* Start list-wrapper Styling  */

.tools {
  position: absolute;
  top: 0;
  display: flex;
  justify-content: flex-end;
  font-size: 1em;
  padding: .5em;
  z-index: 2;
}

.duration {
  color: #fff;
  background-color: rgba(0, 0, 0, .7);
  font-size: .95em;
  font-weight: 400;
  line-height: 1.5;
  padding: 0 .3em;
  letter-spacing: .5px;
  border-radius: 3px;
}

.card-title {
  font-weight: bold;
  color: #484b62;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.8em;
}

.card-text {
  color: #6f7285;
  font-size: 11px;
}

.visit {
  font-family: mynumberfont;
}

.card-border {
  border: none;
}

.advertising {
  border: 1 solid #000;
}

.advertisingtext {
  color: #2c2c2c;
  font-weight: normal;
  font-size: 14px;
}

.divadvertising {
  display: inline-block;
  position: absolute;
  top: 74px;
  right: 118px;
  font-size: 0.8rem !important;
  color: #05a3e8 !important;
}

.fa-ad {
  position: absolute;
  top: 74px;
  left: 10px;
  color: rgb(168, 168, 177) !important;
}

/* End list-wrapper Styling  */