/* Start Styling playlist  */

.card-header {
  background-color: #e6e7ef;
}

.list-group-flush .list-group-item {
  border: none!important;
}

.card-header {
  border-bottom: none;
}

.playlistadd {
  display: inline-block;
  position: absolute;
  top: 20px;
  left: 6px;
}

.fa-plus-square {
  color: #6f7285;
}

.fa-sort-down {
  color: #6f7285;
  position: absolute;
  top: 24px;
  left: 5px;
}

.fa-sort-up {
  color: #6f7285;
  position: absolute;
  top: 30px;
  left: 5px;
}

.btn {
  border: none;
  border-radius: 20px;
  margin-left: 15px;
}

.btn:hover {
  border-radius: 25px;
  background-color: #f5f5f9;
}

.duration {
  color: #fff;
  background-color: rgba(0, 0, 0, .7);
  font-size: .95em;
  font-weight: 400;
  line-height: 1.5;
  padding: 0 .3em;
  letter-spacing: .5px;
  border-radius: 3px;
}

.tools {
  position: absolute;
  top: 48px;
  right: 89px;
  display: flex;
  justify-content: flex-end;
  font-size: 1em;
  padding: .5em;
  z-index: 2;
}

.thumb-image {
  width: 120px;
  height: 68.4px;
}

.thumb-preview {
  text-decoration: none!important;
}

.num {
  font-family: mynumberfont;
  font-size: 11.2px;
}

.list-group-flush {
  border: none
}

.list-group-item {
  background-color: #f5f5f9
}

.title-playlisy {
  font-family: mynumberfont;
  font-size: 12px;
  color: #6f7285;
}

.spantext {
  position: absolute;
  left: 2px;
  right: 167px;
  color: #484b62;
  font-size: 13px;
  font-weight: bold;
}

.spantextdown {
  position: absolute;
  left: 2px;
  right: 196px;
  color: #484b62;
  font-size: 13px;
  font-weight: bold;
}

.spanlight {
  font-size: 11.2px;
  color: #6f7285;
  margin-top: 53px;
  ;
  position: absolute;
  left: 2px;
  right: 196px;
}

.paralight {
  font-size: 11.2px;
  color: #6f7285;
  margin-top: 80px;
  ;
  position: absolute;
  left: 2px;
  right: 219px;
}

.paralightnum2 {
  font-size: 11.2px;
  color: #6f7285;
  margin-top: 80px;
  ;
  position: absolute;
  left: 2px;
  right: 291px;
  font-family: mynumberfont;
}

.paralight2 {
  font-size: 11.2px;
  color: #6f7285;
  margin-top: 80px;
  ;
  position: absolute;
  left: 2px;
  right: 300px;
}

.spandot {
  font-size: 11.2px;
  font-weight: bolder;
  color: #6f7285;
  margin-top: 80px;
  ;
  position: absolute;
  left: 2px;
  right: 270px;
}

.paralightnum {
  font-size: 11.2px;
  color: #6f7285;
  margin-top: 80px;
  ;
  position: absolute;
  left: 2px;
  right: 196px;
  font-family: mynumberfont;
}

.paratext {
  position: absolute;
  top: 60px;
  right: 167px;
  color: #6f7285;
  font-size: 11.2px;
}

.fa-play {
  font-size: 9px;
  color: #6f7285;
}

/* End Styling playlist  */

/* Start Styling video info  */

/* info row  */

.infopara {
  color: #484b62;
  font-size: 20px;
  font-weight: 300!important;
}

.infoparasmall {
  font-size: 12px;
  margin-left: 10px;
}

.fa-chevron-down {
  margin-top: 3px;
  float: left;
  font-size: 12px;
  margin-left: 7px;
}

.fa-chevron-down-small {
  margin-top: -15px;
  float: left;
  font-size: 12px;
  margin-left: 7px;
}

.viewhide {
  font-family: mynumberfont;
  float: left;
}

.fa-eye {
  float: left;
  margin-right: 10px;
  padding-top: 3px;
}

/* detail row  */

.avatar-img {
  width: 43px;
  height: 43p;
}

.spandetail {
  font-size: 12.6px;
  color: #484b62;
}

.fa-check-circle {
  font-weight: 900;
  margin-right: 11px;
  /* margin-top: 13px; */
  /* padding-top: 12px; */
  color: #00B96C;
  font-size: 12px;
}

.paradetail {
  font-family: mynumberfont;
  display: inline-block;
  font-size: 11.2px;
  color: #6f7285;
}

.followspan {
  font-family: mynumberfont;
  font-size: 11.2px;
  color: #6f7285;
}

.followdiv {
  margin-right: 48px;
}

.buttondetail {
  border-radius: 22px;
  border: 0px;
  padding: 7px 1em;
  color: #fff;
  background-color: #df0f50;
  outline: 0px!important;
}

.i-detail {
  color: #fff;
}

.fa-share-alt-md {
  color: #6f7285;
  margin-left: 118px;
  padding: 10px;
}

.fa-share-alt-md:hover {
  background-color: #dddddf;
  padding: 10px;
  border-radius: 22px;
}

.fa-download-md {
  color: #6f7285;
  margin-left: 20px;
  padding: 10px;
}

.fa-download-md:hover {
  background-color: #dddddf;
  padding: 10px;
  border-radius: 22px;
}

.fa-align-left-md {
  color: #6f7285;
  margin-left: 20px;
  padding: 10px;
}

.fa-align-left-md:hover {
  background-color: #dddddf;
  padding: 10px;
  border-radius: 22px;
}

.likenum {
  font-family: mynumberfont;
  color: #6f7285;
  margin-left: 40px;
  font-weight: bolder;
  font-size: 13.6px;
}

.fa-heart {
  color: #6f7285;
  margin-left: 4px;
  font-size: 19px;
  position: absolute;
  top: 60px;
}

.fa-heart-small {
  color: #6f7285;
  margin-left: 4px;
  font-size: 19px;
  position: absolute;
  top: 70px;
}

.viewsmall {
  font-family: mynumberfont;
  font-size: 11.9px;
  color: #6f7285;
}

.fa-share-alt-small {
  color: #6f7285;
  font-size: 15px;
  margin-left: 23px;
  padding: 10px;
}

.fa-share-alt-small:hover {
  background-color: #dddddf;
  border-radius: 22px;
  padding: 10px;
}

.fa-download-small {
  color: #6f7285;
  font-size: 15px;
  margin-left: 30px;
  padding: 10px;
}

.fa-download-small:hover {
  background-color: #dddddf;
  border-radius: 22px;
  padding: 10px;
}

.fa-align-left-small {
  color: #6f7285;
  font-size: 15px;
  margin-left: 30px;
  padding: 10px;
}

.fa-align-left-small:hover {
  background-color: #dddddf;
  border-radius: 22px;
  padding: 10px;
}

.divicon {
  display: inline-block;
  float: left;
  margin-top: -35px;
}

.diviconsmall {
  margin-top: -42px;
  display: inline-block;
  float: left;
}

.folowdiv {
  margin-right: 48px;
}

/* togglable-section */

.togglable-section {
  font-size: 12.6px;
  color: #6f7285;
}

.fa-clock {
  font-size: 10px;
  margin-top: 3px;
}

.toggle-span {
  font-size: 11.2px;
  color: #6f7285;
}

/* End Styling video info  */

.introduction {
  margin-left: 119px;
  font-size: 12.6px;
  font-family: mynumberfont;
}

.intropara {
  font-size: 11.8px;
  margin-top: 25px;
  margin-right: -6px;
  color: #6f7285;
}

.fa-atom {
  color: rgb(206, 206, 60);
}

.filimo {
  height: 20px;
  width: 20px;
  display: inline-block;
}

.visit {
  position: absolute;
  margin-top: 74px;
  margin-left: -171px;
  display: inline-block;
  background-color: #fdc13c;
  padding: 3px 11px;
}

.span-visit {
  font-size: 12.2px;
  color: #484b62;
}

.fa-chevron-left {
  font-size: 11px;
  color: #484b62;
}

.btn-film {
  border-radius: 45px;
  background-color: #484b62;
  padding: 15px 15px;
  outline: 0px!important;
  border: 0px;
  margin-top: -13px;
}

.fa-film {
  font-size: 34px;
  color: #fff;
}